creditcard.csv
settings.json
WineQT.csv
ParisHousing.csv
payment_data.csv
customer_data.csv
Concrete_Data.xls
Dry_Bean_Dataset.csv
hour.csv
day.csv
lessons/bank-additional-full.csv
catboost_training.json
lessons/Wholesale customers data.csv
lessons/ratings_small.csv
lessons/movies_metadata.csv
lessons/tags.csv
lessons/ratings.csv
lessons/books.csv
lessons/book_tags.csv
