creditcard.csv
settings.json
WineQT.csv
ParisHousing.csv
payment_data.csv
customer_data.csv
Concrete_Data.xls
Dry_Bean_Dataset.csv
hour.csv
day.csv
lessons/bank-additional-full.csv
catboost_training.json
lessons/Wholesale customers data.csv
lessons/ratings_small.csv
lessons/movies_metadata.csv
lessons/tags.csv
lessons/ratings.csv
lessons/books.csv
lessons/book_tags.csv
lessons/best_model.pth
lessons/diamonds.csv
lessons/mnist_mlp_tf.keras
lessons/data/MNIST/raw/t10k-images-idx3-ubyte
lessons/data/MNIST/raw/t10k-images-idx3-ubyte.gz
lessons/data/MNIST/raw/t10k-labels-idx1-ubyte
lessons/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
lessons/data/MNIST/raw/train-images-idx3-ubyte
lessons/data/MNIST/raw/train-images-idx3-ubyte.gz
lessons/data/MNIST/raw/train-labels-idx1-ubyte
lessons/data/MNIST/raw/train-labels-idx1-ubyte.gz
lessons/fashion5_model.pt
lessons/mnist_mlp.pt
lessons/data/FashionMNIST/raw/t10k-images-idx3-ubyte
lessons/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
lessons/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
lessons/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
lessons/data/FashionMNIST/raw/train-images-idx3-ubyte
lessons/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
lessons/data/FashionMNIST/raw/train-labels-idx1-ubyte
lessons/data/
lessons/model_before_robust_ft.pth
lessons/model_robust_finetuned.pth
lessons/models/b0_best.pth
lessons/models/b0_last.pth
lessons/models/b1_best.pth
lessons/models/b1_last.pth
lessons/models/b2_best.pth
lessons/models/b2_last.pth
lessons/models/b3_best.pth
lessons/models/b3_last.pth
lessons/video.mp4
lessons/video2.mp4
lessons/yolov8n.pt
lessons/images/lighting/image_2026-09-21_20-16-42.png
lessons/images/lighting/image_2026-09-21_20-17-35.png
lessons/images/lighting/image_2026-09-21_20-18-00.png
lessons/images/lighting/image_2026-09-21_20-18-22.png
lessons/images/lighting/image_2026-09-21_20-19-12.png
lessons/images/many_objects/image_2026-09-21_20-21-05.png
lessons/images/many_objects/image_2026-09-21_20-21-26.png
lessons/images/many_objects/image_2026-09-21_20-22-00.png
lessons/images/many_objects/image_2026-09-21_20-22-21.png
lessons/images/many_objects/image_2026-09-21_20-23-11.png
lessons/images/size_diff/image_2026-09-21_20-24-04.png
lessons/images/size_diff/image_2026-09-21_20-24-26.png
lessons/images/size_diff/image_2026-09-21_20-24-42.png
lessons/images/size_diff/image_2026-09-21_20-25-06.png
lessons/images/size_diff/image_2026-09-21_20-25-46.png
lessons/output_videos/video_faster_rcnn.mp4
lessons/output_videos/video_ssd.mp4
lessons/output_videos/video_yolo.mp4
lessons/output_videos/video2_faster_rcnn.mp4
lessons/output_videos/video2_ssd.mp4
lessons/output_videos/video2_yolo.mp4
